<dl>
  <dt>Job</dt>
  <dd><%= name %></dd>
  <dt>Status</dt>
  <dd><%= status %></dd>
  <dt>Created</dt>
  <dd><%= created %></dd>
  <dt>Lock</dt>
  <dd><%= locked_at %></dd>
  <dt>Data</dt>
  <dd><pre><%= data %></pre></dd>
  <dt>Error</dt>
  <dd><pre><%= error %></pre></dd>
</dl>
