// batch.less
// ----------

#batch-upload {
  .arcs-form;
  width: 700px;

  &.disabled {
    .opacity(40);
  }

  .accordion-group {
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    .no-rounded();
  }

  .accordion-heading, 
  .accordion-body {
    background-color: #bbb;
    border: 1px solid #888;
    color: #000;
  }

  .accordion-heading {
    border-bottom: none;
  }

  .accordion-inner {
    border-top: 1px solid #888;
  }

  .accordion-body {
    border-top: none;
    select {
      width: 130px;
    }
  }

  .progress {
    border: 1px solid #666;
    .rounded-corners(0px);
    float: right;
    width: 150px;
    margin-bottom: 0px;
    .bar { .rounded-corners(0px); }
  }

  div.controls {
    background-color: #bbb;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -1px;
    padding: 9px;
    border: 1px solid #888;
    .rounded-corners-bottom(5px);

    span#progress-all {
      float: right;
      position: relative;
      font-style: italic;
      color: black;
      right: 5px;
      top: 7px;
    }

    // File input is hidden and overlayed with a button.
    div#fileupload-wrapper {
      width: 95px;
      height: 20px;
      cursor: pointer !important;
      span {
        //float: left;
        display: inline-block;
        top: 5px;
        //padding: 4px 8px 8px;
        cursor: pointer;
      }
      input {
        cursor: pointer !important;
        float: left;
        .opacity(0);
        height: 100%;
        position: relative;
        top: -20px;
      }
    }
  }
}
