{{# results }}
<div class="result grid">
    <img src="{{ thumb }}" data-id="{{ id }}" style="height:100px" />
    <div><strong>{{ title }}</strong></div>
    <div>{{ user.name }}</div>
</div>
{{/ results }}
