.doc {
  height:100%;
  background-color:#fcfcfc;
  padding:15px;
  border:1px solid #ccc;
  border-radius:5px;
  color:#333;
  margin-bottom:50px;
}

.doc img {
  box-shadow: 2px 2px 2px #bbb;
}

.doc h1, h2, h3, h4 {
  text-shadow:0 1px 1px #fff;
  color:#444;
  font-weight:normal;
  margin:20px;
  margin-left:0px;
}

.doc h1 {
  font-size:200%;
}

.doc h2 {
  font-size:160%;
  text-decoration:underline;
}

.doc h3 {
  font-size:150%;
}

.doc h4 {
  font-size:140%;
}

.doc code {
  color:#333;
}

.doc pre code {
  border:none;
}

.doc table th {
  padding-bottom:20px;
}

.doc table td {
  padding-right:10px;
  padding-left:10px;
  padding-bottom:5px;
}

.doc table td:nth-child(odd) {
  border-right:1px solid #ccc;
  text-align:right;
}

.doc p {
  line-height:22px;
}

.doc blockquote p {
  margin-top:25px;
  margin-bottom:25px;
  font-size:100%;
}

.well {
  border-radius:5px;
  border:1px solid #ccc;
  background-color:#fcfcfc;
}

.nav {
  background-color:#fcfcfc;
}
