.span9 {
    font-family: Helvetica Neue;
    height:100%;
    background-color:#fcfcfc;
    padding:15px;
    border:1px solid #ccc;
    border-radius:5px;
    color:#333;
}

.span9 img {
    box-shadow: 2px 2px 2px #bbb;
}

.span9 h1, h2, h3, h4 {
    text-shadow:0 1px 1px #fff;
    color:#444;
    font-weight:normal;
    margin-left:0px;
    margin-bottom:10px;
}

.span9 h1 {
    font-size:200%;
}

.span9 h2 {
    font-size:160%;
    text-decoration:underline;
}

.span9 h3 {
    font-size:150%;
}

.span9 h4 {
    font-size:140%;
}

.span9 code {
    color:#333;
}

.span9 pre code {
    border:none;
}

.span9 table th {
    padding-bottom:20px;
}

.span9 table td {
    padding-right:10px;
    padding-left:10px;
    padding-bottom:5px;
}

.span9 table td:nth-child(odd) {
    border-right:1px solid #ccc;
    text-align:right;
}


.well {
    border-radius:5px;
    border:1px solid #ccc;
    background-color:#fcfcfc;
}

.nav {
    background-color:#fcfcfc;
}
