// notifications.less
// ------------------

// Alert
.alert {
  margin-top: 5px;
  border: 1px solid #888;
}

// Notifications
.notification {
  position: fixed;
  padding: 10px;
  top: 0px;
  left: 35%;
  width: 400px;
  z-index: 1051;

  .close {
    float: right;
    margin-right: 20px;
  }
}
