<ul class="nav nav-list context-menu" style="display:none">
  <% for (o in options) { %>
  <li><a class="context-menu-option" 
    id="context-menu-option-<%= arcs.inflector.identifierize(o) %>">
    <%= o %></a></li>
  <% } %>
</ul>
