// hotspot_modal.less
// ------------------

.hotspot-modal {
  .no-rounded();
  .text-shadow(#fff);
  margin-top: 0px;
  top: 0px;
  right: 0px;
  left: inherit;
  height: 100%;
  width: 400px;
  background-color: #dfdfdf;

  .tab-content {
    border: 1px solid #aaa;
    border-top: none;
  }

  .nav-tabs {
    border-bottom: 1px solid #aaa;

    li.active a {
      border: 1px solid #aaa;
      border-bottom: 1px solid #fff;
    }
  }

  #title, 
  #caption, 
  #type {
    border: 1px solid #aaa;
  }

  h3, 
  h4 {
    font-weight: normal;
  }

  .modal-body {
    max-height: none;
  }

  .modal-header {
    background-color: #dfdfdf !important;
    border-bottom: 1px solid #999 !important;
    outline: 1px solid #fff;
    font-size: 110%;
    height: 34px;
  }

  .modal-footer {
    .btn {
      float: left;
    }
    background-color: inherit;
    border-top: 0px;
    border-bottom: 0px;
    box-shadow: none;
  }

  #resource-link {
    height: 300px;

    #hotspot-search {
      padding: 5px;
      background: #fff;
    }

    #hotspot-search-results {
      height: 260px;
      overflow: auto;
      background: #fff;

      .result {
        width: 120px;
        font-size: 85%;
      }
    }
  }

  #url-link {
    height: 45px;
    background: #fff;
    padding: 20px;
    #url {
      width: 80%;
      margin: 0 0 0 -5px;
    }
  }
}
