// viewer.less
// -----------

body.viewer {
  background: #fff;
}

body.viewer.standalone {
  #viewer {
    margin: 0 -3px 10px -10px;
    .viewer-well {
      display: inline-block;
      border: none;
      float: left;
      #wrapping {
        padding-left: 0px;
        padding-right: 0px;
        .annotate-controls {
          right: 0px;
        }
      }
    }
  }
}

#viewer {
  margin: 0 -3px -1px -10px;

  .viewer-well {
	background-color: @gray;
    background: url(img/linen-texture.jpg);
	border: 1px solid #888;
	.box-shadow(inset 4px rgba(0,0,0,.55));
    text-align:center;
  	width: 75%;
  	height: 100%;
  	float: left;
  	position: relative;
    overflow: hidden;
  	
  	#wrapping {
      display: block;
      margin: 0 auto;
      padding-left: 18px;
      padding-right: 18px;
      left: 0;
      z-index: 2;
      overflow: hidden;

      #resource {
        display: block;
        margin: 0 auto;
        img {
          .unselectable();
        }
      }
      #hotspots-wrapper {
        position: relative;
      }
	}
  }

  // Previous and next buttons
  .viewer-nav {
    width: 18px;
    position: absolute;
    height: 100%;
    z-index: 100;
    &:hover    { cursor: pointer; }
    &.disabled { opacity: 0.5; }
  }
  #prev-btn {
    left: 0px;
    background: #ddd url(img/nav.png) no-repeat left center;
  }
  #next-btn {
    right: 0px;
    background: #ddd url(img/nav.png) no-repeat right center;
  }
}

.viewer-footer {
  height: 40px;
  background: #ddd;
  margin: -10px;
  border:1px solid #888;
}
