<% _.each(resources, function(r, i) { %>
  <li>
    <img class="thumb" src="<%= r.thumb %>" alt="thumbnail"
      style="width:100px; height:90px;" data-id="<%= r.id %>"/>
    <div class="overlay">
      <span><%= i + 1 + offset %></span>
    </div>
  </li>
<% }) %>
