{{# comments }}
<div class="comment-wrapper" id="comment-{{ id }}">
    <div class="comment-header">
        <span class="name">{{ name }}{{ _name }}</span>
        commented 
        <span class="time">{{ created }}{{ _created }}</span>
    </div>
    <div class="comment">{{ content }}</div>
</div>
{{/ comments }}
