{{# hotspots }}
<a class="hotspot" style="left:{{left}}px; top:{{top}}px; width:{{width}}px;
    height:{{height}}px;" rel="popover" data-original-title="{{type}}"
    data-content="{{caption}}" href="{{link}}"></a>
{{/ hotspots }}
