{{# uploads }}
<div class="accordion-group">
    <div class="accordion-heading">
        <div class="accordion-toggle">
        {{ fileName }} &nbsp;&nbsp;<em>{{ fileSize }}</em>
        <span class="progress">
            <div class="bar" style="width: {{ progress }}%"></div>
        </span>
        </div>
    </div>
    <div class="accordion-body collapse in">
        <div class="accordion-inner">
            lots of text lots of text
        </div>
    </div>
</div>
{{/ uploads }}
