<% _.each(comments, function(c) { %>
<div class="comment-wrapper" id="comment-<%= c.id %>">
    <div class="comment-header">
        <span class="name"><%= c.name %></span>
        commented 
        <span class="time"><%= relativeDate(new Date(c.created)) %></span>
    </div>
    <div class="comment"><%- c.content %></div>
</div>
<% }) %>
