<% if (type == 'Relation') { %>
Relation <i class="icon-magnet"></i> 
<% } if (type == 'Transcription') { %>
Transcription <i class="icon-align-justify"></i> 
<% } if (type == 'URL') { %>
URL <i class="icon-share"></i>
<% } %>
