// about.less
// ----------

#intro_para {
	background-color: #696969;
	padding: 20px 0;
	text-align: center;
}

.feature{
  padding:30px;
  position: relative;
  clear: right;
  display: block;
  
  &.left{
    border-left:24px solid #c3c3c3;
    border-image-bottom: url('img/h1.png') 61px;
    
    .number {
    	position: absolute;
    	left: -42px !important;
    	top: 30px;
    }
  }
  
  &.right {
    border-right:24px solid #c3c3c3;
    
    .number {
    	position: absolute;
    	right: -42px !important;
    	top: 30px;
    }
  }
}
